* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  direction: rtl;
  background-color: white;
  overflow-x: hidden;
  font-family: 'El Messiri', sans-serif;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid 1px #aaa;
  background-color: royalblue;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  /* background-color: ; */
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem 4rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.whatsapp-btn-wrap {
  color: #fff;
  height: 48px;
  background: #5acc70;
  border-radius: 4px;
  display: flex;
  align-items: center;
  max-width: 622px;
  outline: 0;
  border: 0;
}

@media screen and (max-width: 720px) {
  main {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 520px) {
  main {
    padding: 1rem;
  }
}
