/* Global */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  direction: rtl;
  background-color: #ecedf3;
  overflow-x: hidden;
  font-family: 'El Messiri', sans-serif;
  font-size: 16px;
}

/* Utilities */

.align-center {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.banner-image {
  margin-bottom: 1rem;
  width: 350px;
}

/* Main */

main {
  padding: 1rem 4rem;
  /* bac */
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.whatsapp-btn-wrap {
  width: fit-content;
  text-decoration: none;
  color: #fff;
  height: 48px;
  background: #5acc70;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 1rem;
  outline: 0;
  border: 0;
}

.whatsapp-btn-wrap img {
  height: 26px;
  width: 26px;
  margin-left: 14px;
}

@media screen and (max-width: 720px) {
  main {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 520px) {
  main {
    padding: 1rem;
  }
}
