* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  direction: rtl;
  background-color: white;
  overflow-x: hidden;
  font-family: 'El Messiri', sans-serif;
  font-size: 16px;
}

.align-center {
  text-align: center;
}

main {
  padding: 1rem 4rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.banner-image {
  margin-bottom: 1rem;
}

.whatsapp-btn-wrap {
  width: fit-content;
  text-decoration: none;
  color: #fff;
  height: 48px;
  background: #5acc70;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 1rem;
  outline: 0;
  border: 0;
}

.whatsapp-btn-wrap img {
  height: 26px;
  width: 26px;
  margin-left: 14px;
}

@media screen and (max-width: 720px) {
  main {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 520px) {
  main {
    padding: 1rem;
  }
}
